.pricing{
    padding:90px 20px ;
    background: #ffffff;
    text-align: center;
}
.pricing h2 {
    font-size: 40px;
    margin-bottom: 12px;
}
.pricing p {
    max-width: 700px;
    margin: 0 auto 50px;
    color: #555;
}
.pricing-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: auto;
}