.feature-card{
    background: #f5f7ff;
    border-radius: 16px;
    padding: 30px 20px;
    text-align:center ;
    transition: all 0.3s ease;
}
.feature-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
}
.feature-image{
    width: 70px;
    height: 70px;
    margin: 0 auto 15px ;

}
.feature-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.feature-title{
    font-size: 18px;
    font-weight: 600;
}