.login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #c52127; 
    padding: 40px;
    box-sizing: border-box;
}

.login-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
    position: relative;
}
.img-login{
    width: 520px;
    height: 520px;
    background: rgba(255,255,255,0.12);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.login-left img {
    width: 80%;
    max-width: 420px;
}

.login-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.login-card {
    background: #fff;
    width: 450px;
    padding: 35px 40px;
    border-radius: 10px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.25);
}

.login-card h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.login-card span {
    color: #c52127;

}

.login-card h5 {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
}

.imput-email {
    width: 100%;
    padding: 13px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 15px;
}

.imput-password {
    width: 100%;
    padding: 13px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 15px;
}

.option {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}

 .Login-btn {
    width: 100%;
    background: #c52127;
    color: #fff;
    padding: 13px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.Login-btn:hover {
    background: #a91b20;
}

.create {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    cursor: pointer;
}

.account-create {
    color: #c52127;
}

.login-option {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom: 15px;

}

.login-option button {
    padding: 19px;
    border-radius: 8px;
    border: none;
    color: #fff;
    font-size: 18px;
}

.super-admin {
    background: #00c897;
}

.admin {
    background: #ff9800;
}

.business {
    background: #4f7cff;
}

.branch {
    background: #a855f7;
}

.divide {
    text-align: center;
    margin-bottom: 15px;
    color: #999;
}

.social-login {
    display: flex;
    flex-direction: column;

}

.x {
    margin-bottom: 15px;
}

.x button {
    width: 100%;
    padding: 11px;
    cursor: pointer;
    border-radius:8px ;
    border: 1px solid black;
    background: #fff;
    font-size: 16px;
    font-weight: 500;
}

.google button {
    width: 100%;
    padding: 11px;
    cursor: pointer;
    border-radius:8px ;
    border: 1px solid black;
    background: #fff;
    font-size: 16px;
    font-weight: 500;
}
@media (max-width: 900px) {
    .login-left {
        display: none;
    }
    .login {
        justify-content: center;
    }
}