.login {
    display: flex;
    width: 100%;
    background: #c52127;

}

.login-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-left img {
    width: 80%;
}

.login-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.login-card {
    background: #fff;
    width: 420px;
    padding: 45px;
    border-radius: 10px;
}

.login-card h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.login-card span {
    color: #c52127;

}

.login-card h5 {
    color: #555;
    margin-bottom: 10px;
}

.imput-email {
    width: 100%;
    padding: 13px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 15px;
}

.imput-password {
    width: 100%;
    padding: 13px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 15px;
}

.option {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.Login-btn {
    width: 100%;
    background: #c52127;
    color: #fff;
    padding: 14px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.create {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.back {
    cursor: pointer;
}

.account-create {
    color: #c52127;
}

.login-option {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 25px;
    margin-bottom: 15px;
}

.login-option button {
    padding: 10px;
    border-radius: 8px;
    border: none;
    color: #fff;
}

.super-admin {
    background: #00c897;
}

.admin {
    background: #ff9800;
}

.business {
    background: #4f7cff;
}

.branch {
    background: #a855f7;
}

.divide {
    text-align: center;
    margin-bottom: 15px;
    color: #999;
}

.social-login {
    display: flex;
    flex-direction: column;

}

.x {
    margin-bottom: 15px;
}

.x button {
    width: 100%;
    border: 1px solid black;
    background: #fff;
}

.google button {
    width: 100%;
    border: 1px solid black;
    background: #fff;
}