@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Outfit;
   
 }
 body {
  min-width: 100vh;
 }
a{
  text-decoration: none;
  color: inherit;
}
 
  