 .videodemo {
  padding: 50px 20px;
  text-align: center;
}

.videodemo h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.videodemo p {
  max-width: 700px;
  margin: 0 auto 40px;
  color: #555;
}

.video-card {
  position: relative;
  max-width: 520px;
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}


.video-card img {
  width: 100%;
  display: block;
}

.play-btn {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  color: white;
  background: rgba(0, 0, 0, 0.35);
}
 .video-player {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.video-player.hide {
  display: none;
}

.video-player video {
  width: 80%;
  max-width: 700px;
}


 