 .videodemo {
  padding: 50px 20px;
  text-align: center;
}

.videodemo h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.videodemo p {
  max-width: 700px;
  margin: 0 auto 40px;
  color: #555;
}

.video-card {
  position: relative;
  max-width: 520px;
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.video-card img {
  width: 100%;
  display: block;
}

.play-btn {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  color: white;
  background: rgba(0, 0, 0, 0.35);
}

 
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-box {
  position: relative;
  width: 50vw;
  height: auto;
  max-width: 700px;
  aspect-ratio: 16 / 9;
  background: black;
  border-radius: 12px;
  overflow: hidden;
}

.modal-box iframe {
  width: 50%;
  height: 100%;
  border: none;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 12px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  font-size: 22px;
  cursor: pointer;
  z-index: 2;
}
